
.wrapper{
    margin: 0;
    padding: 0;
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;

}

.background{
    height: 110vh;
    width: auto;
    z-index: -5;
}

.mountain1{
    height: 115vh;
    top: 8vh;
    z-index: -1;
}

.mountain2{
    height: 105vh;
    top: 10vh;
    z-index: -2;
}

.mountain3{
    height: 115vh;
    top: 10vh;
    z-index: -3;
}

.background,
.mountain1, 
.mountain2, 
.mountain3{
    position: absolute;
    object-fit: cover;
}

section{
    font-size: 2 rem;
    padding: 2 rem;
    color: white;
    
}

.comete{
    position: absolute;
    object-fit: cover;
    z-index: -4;
    width: 80px; height: 80px;
    animation: animatedBackground 45s ease-in infinite ;
  }

  @keyframes animatedBackground {
    from { transform: translateX(600%) translateY(-600%); }
    to { transform: translateX(-50%) translateY(300%); }
  }


